
:root {
  --customBlue: #006466; /* skobeloff*/
  --customDarkBlue: #e68bd6; /* prussianBlue*/
  --customGrey: #272640; /* spaceCadet*/
  --customPurple: #4d194d; /* palatinatePurple*/
}

header nav .active {
  opacity: 0.7 !important;
  font-style: italic !important;
  /* filter:drop-shadow(8); */
}

#root {
  font-family: sans-serif;
  min-height: 93vh !important;
  background-color: red; /* testing for gaps CSS */
}

#root .container-fluid {
  min-height: 93vh !important;
}


.cvBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.cvBtn:hover {
  background-color: #3e8e41
}

.cvBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contactBtn {
  width: 200px !important;
  display: inline-block !important;
  background-color: var(--customDarkBlue) !important;
  border-radius: 10px !important;
  border: 5px double var(--customGrey) !important;
  color: var(--customGrey) !important;
  text-align: center !important;
  font-size: 1.5em !important;
  padding: 5px !important;
  transition: all 0.5s !important;
  cursor: pointer;
  margin: 5px !important;

}

.contactBtn:hover {
  background-image: linear-gradient(to right, var(--customPurple),var(--customBlue)) !important;
  color: var(--customDarkBlue) !important;
}

.contactForm {
  width: 75% !important;
  margin: 0 auto !important;
}

input[type=email], input[type=text], textarea {
  background-color: var(--customGrey) !important;
  resize: none;
  color: var(--customBlue) !important;
}

input[type=email]:focus, input[type=text]:focus, #FormControlTextarea1:focus {
  outline: none !important;
  border:1px solid var(--customGrey);
  box-shadow: 0 0 13px var(--customDarkBlue);
}

form {
  color: var(--customDarkBlue) !important;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
